@use './base.scss';
@use './layout.scss';


#header{
    background-color: hsla(313, 62%, 49%, 0.733);
    

    .title {
        margin: 18px 0;
        color: #eee;

        &__link{
            text-decoration: none;
            color: #eee;
            border: 1px solid black;
            padding: 6px;
            border-radius: 9px;
        }
    }
}
.sobre-a-loja{
    background-color: aqua;

    .container{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .home{

        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        
    
        &__img{
            max-width: 590px;
            width: 55%;
            margin: 20px 0;
            border-radius: 10px;
            border: 3px solid white;
        }
        &__title{
            
        }
    }
}


.secao-principal{
    padding: 30px;
    margin-top: 20px;
    background-color: aquamarine;

    .produtos {
        max-width: 800px;
        width: 100%;
        margin: 45px auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 1%;
    }
    
    .produto {

        margin-bottom: 30px;
        border: 1px solid black;
        padding: 12px;
        background-color: #eee;
        cursor: pointer;
    
        &__imagem { /* elemento */
            width: 100%;
        }
        
        &__nome { /* elemento */
            font-size: 1.2em;
            margin: 8px 0;
        }
        
        &__descricao { /* elemento */
            color: gray;
        }
        
        &__em--destaque { /* modificador */
            border: 2px solid rgb(245, 216, 53);
            padding: 8px;
            background-color: #ffff42;
        }
        /* bloco */
    
    }
}

#fale-conosco{

    display: flex;
    justify-content: center;
}
.contato {

    width: 30%;
    border: 1px solid;
    display: flex;
    padding: 16px;
    margin: 20px;
    height: 430px;


    .form{

        display: grid;
        padding: 20px;

        &__label {
            margin-top: 20px;
        }
        &__check{
            margin-top: 20px;
            
        }
        &__btn{
            margin-top: 20px;
            cursor: pointer;
        }
    }
}
.rodape{
    background-color: #ffff42;
    padding: 20px;
   
}
 

