@use './base.scss';
@use './layout.scss';
@use './variaveis.scss' as v;




@mixin responsive($breakpoint){
    @if $breakpoint == tablet {
        @media screen and (max-width: v.$tablet) {
            @content;
        }
    } @else if $breakpoint == mobile {
        @media screen and (max-width: v.$mobile) {
            @content;
        }
    }
}

#header{
    background-color: v.$corPrincipal;
    

    .title {
        margin: 18px 0;
        color: #eee;
        font-family: v.$fonteTitle;
        font-size: 3em;

        &__link{
            font-family: v.$fonteTxt;
            font-size: 1.2em;
            text-decoration: none;
            color: v.$cortxt;
            border: 1px solid white;
            padding: 6px;
            border-radius: 9px;
        }
    }
}
.sobre-a-loja{
    

    .container{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .home{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        
    
        &__img{
            max-width: 600px;
            width: 55%;
            margin: 20px 0;
            border-radius: 10px;
            border: 3px solid white;
        }
        &__txt{
            color: v.$cortxt;
            font-family: v.$fonteTxt;
        }
    }
}


.secao-principal{
    padding: 30px;
   
    .container{
        background-color: v.$corProdutos;
        padding: 30px;
        border-radius: 3%;
        border:1px solid white;
        width: 53%;
    }
    
    .produtos {
        max-width: 800px;
        width: 100%;
        margin: 45px auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 1%;
    }
    
    .produto {

        margin-bottom: 30px;
        border: 1px solid black;
        padding: 12px;
        background-color: #fffefe;
        cursor: pointer;
    
        &__imagem { /* elemento */
            width: 100%;
        }
        
        &__nome { /* elemento */
            font-size: 1.2em;
            margin: 8px 0;
        }
        
        &__descricao { /* elemento */
            color: gray;
        }
        
        &__em--destaque { /* modificador */
            border: 2px solid v.$cortxt;
            padding: 8px;
            background-color: v.$corSegundaria;
        }
        /* bloco */
    
    }
}

#fale-conosco{
    
    display: flex;
    justify-content: center;
    width: 63%;
}
.contato {
    background-color: v.$corProdutos;
    width: 25%;
    border: 1px solid white;
    border-radius: 2%;
    display: flex;
    padding: 16px;
    margin: 20px;
    height: 474px;


    .form{

        display: grid;
        padding: 20px;

        &__label {
            margin-top: 20px;
            color: v.$cortxt;
        }
        &__check{
            margin-top: 20px;
            color: v.$cortxt;

            
        }
        &__btn{
            margin-top: 20px;
            cursor: pointer;
        }
    }
}
.rodape{
    background-color: v.$corPrincipal;
    padding: 20px;
   
}
 
@include responsive(tablet) {
    

    
}

@include responsive(mobile) {

    

    #header {

        .container {
            width: 80%;
            display: grid;
            justify-content: center;
            font-size: 0.7em;
            padding-bottom: 18px;
        }
      
        li {
            display: inline;
            margin-top: 3px;
        }   
    
    }
    .sobre-a-loja{
    

        .container{
            display: block;
            
            
        }
    
        .home{
            
            &__img{
                max-width: 329px;
                width: 100%;
                margin: 20px
            }
            
        }
    }
    
    .secao-principal{
        padding: 1px;
       
        .container{
            width: 74%;

        }
        
        .produtos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1%;
        }
        &__imagem { /* elemento */
            width: 100%;
        }
        
        &__nome { /* elemento */
            font-size: 1em;
            margin: 8px 0;
        }
    }
    #fale-conosco{
    
        display: block;
        

        .contato {
        
            padding: 16px;
            width: 127%;
            height: 474px;
        }
    }
   
    

    
}
